<header class="header bg-white shadow-sm py-3 px-4 d-flex justify-content-between align-items-center">
  <div class="logo fs-3 fw-bold text-primary">EasyCred</div>

  <%- include("navbar") %>
</header>